{
    "port": 8081,
    "endpoints": [
        {
            "name":"GWDG",
            "baseURL": "https://chat-ai.academiccloud.de/v1",
            "apiKey": "abcdefghijklmnopqrstuvw0123456789"
        },
        {
            "name": "OpenAI",
            "baseURL": "https://api.openai.com/v1",
            "apiKey": "abcdefghijklmnopqrstuvw0123456789"
        }
    ],
    "serviceName": "Custom Chat AI"
}