{
    "mode": "dev",
    "port": 8080,
    "backendPath": "http://localhost:8081",
    "modelsPath": "http://localhost:8081/models",
    "userDataPath": "http://localhost:8081/user",
    "proposalGenerationModel": "qwen3-30b-a3b-instruct-2507",
    "titleGenerationModel": "qwen3-30b-a3b-instruct-2507",
    "memoryGenerationModel": "qwen3-30b-a3b-instruct-2507",

    "default": {
        "model": {
            "id": "qwen3-30b-a3b-instruct-2507",
            "name": "Meta Llama 3.1 8B Instruct"
        },
        "messages": [
            {"role": "system","content":"You are a helpful assistant"}
        ],
        "top_p": 0.5,
        "temperature": 0.5
    },
    "announcement": ""
}
