{
    "mode": "dev",
    "port": 8080,
    "backendPath": "http://localhost:8081",
    "modelsPath": "http://localhost:8081/models",
    "userDataPath": "http://localhost:8081/user",
    "default": {
        "model": {
            "id": "meta-llama-3.1-8b-instruct",
            "name": "Meta Llama 3.1 8B Instruct"
        },
        "messages": [
            {"role": "system","content":"You are a helpful assistant"}
        ],
        "top_p": 0.5,
        "temperature": 0.5
    }
}
